.header {
    margin: 4rem 10rem;
}

.header h3 {
    font-family: "raleway";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%; /* 67.2px */
    text-transform: capitalize;
    background: linear-gradient(90deg, #FFF 46.28%, rgba(255, 255, 255, 0.20) 80.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header p {
    color: #A6AAB2;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the container horizontally */
    margin: 2rem auto; /* Center the container vertically and adjust margin */
    max-width: 1024px; /* Optional: Set maximum width for better responsiveness */
}

.card {
    width: calc(50% - 1rem); /* Adjust width to fit two cards in a row */
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f0f0f0; /* Background color for the card */
    border-radius: 18.803px;
    background: linear-gradient(141deg, #393a74 -18.15%, #321c61 60.39%, #1e0552 111.35%);
    display: flex; /* Add flex display */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.card img {
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 250px;
    height: 250px;
}

.card h4 {
    font-size: 24px;
    margin-bottom: 0.5rem;
    width: 397px;
height: 71px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 31.2px */
text-transform: capitalize;
}

.card p {
    text-align: center; /* Center text horizontally */
    color: #CDCDCD;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}

/* Add space between the cards */
.card:nth-child(odd) {
    margin-right: 2rem;
}

.card:nth-child(2n) {
    margin-right: 0;
}

@media (max-width: 767px) {
    .card {
        margin-right: 0 !important;
    }
}
